<h1 class="row animated fadeIn">{{heroe.nombre | uppercase}}<small>({{heroe.aparicion | date:'y'}} )</small></h1>
<hr>
<div class="row animated fadeIn fast">
    <div class="col-md-4">
        <img src="{{heroe.img}}" class="img-fluid" alt="">
        <br><br>
        <a href='#/heroes' class="btn btn-outline-danger btn-block">Regresar</a>
    </div>
    <div class="col-md-8">
        <h3>{{heroe.nombre}}</h3>
        <hr>
        <p>
            {{heroe.bio}}
        </p>
        <div style="text-align: center; padding:5px 0px 5px 0px;">
            <img class="img-logo" src="assets/img/marvel.png" alt="Marvel" *ngIf="heroe.casa=='Marvel'">
            <img class="img-logo" src="assets/img/dc.png" alt="DC" *ngIf="heroe.casa=='DC'">

        </div>
        <!-- <div style="text-align: center;">
            <img src="assets/img/dc.png" alt="" *ngIf="heroe.casa=='DC'">
        </div> -->
        <hr>

    </div>
</div>